
#calendar {
    font-size: 0.8rem;
}

.fc .fc-daygrid-day-frame {
    min-height: 60px;
}

.fc .fc-toolbar-title {
    font-size: 1rem;
}

.fc-toolbar-title {
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}